.border-rojo {
    border: 3px solid #E50914;
    border-radius: 10px;
    background-color: #1a1a1a; /* Fondo oscuro para el formulario */
}

legend {
    width: auto;
    float: none;
    font-weight: bold;
    color: #E50914 !important;
}

.custom-input {
    background-color: #141414 !important; /* Fondo negro */
    color: white !important; /* Texto blanco siempre */
    border: 2px solid #333 !important;
    transition: all 0.3s ease;
}

.custom-input:focus {
    background-color: #222 !important;
    border-color: #E50914 !important;
    color: white !important;
    box-shadow: 0 0 10px rgba(229, 9, 20, 0.5) !important;
}

.opt-oscuro {
    background-color: #1a1a1a;
    color: white;
}

.btn-netflix {
    background-color: #E50914;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-netflix:hover {
    background-color: #a30000;
    color: white;
}

h2 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}