/* ====== CONFIGURACIÓN GENERAL ====== */
body {
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* ====== HEADER ====== */
.encabezado-secundario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 20px 40px;
    border-bottom: 2px solid #E50914;
}

/* LOGO */
.logo {
    color: #E50914;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
}

/* BOTÓN VOLVER */
.boton-volver {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid #E50914;
    padding: 8px 12px;
    border-radius: 6px;
    transition: 0.3s;
}

/* HOVER BOTÓN */
.boton-volver:hover {
    background-color: #E50914;
    color: #fff;
}

/* ====== TÍTULO DE SECCIÓN ====== */
.titulo-seccion-expedientes {
    text-align: center;
    padding: 40px 20px 10px;
}

.titulo-seccion-expedientes h2 {
    color: #ffffff;
    font-size: 32px;
    margin-bottom: 10px;
}

.titulo-seccion-expedientes p {
    color: #b3b3b3;
    font-size: 16px;
}

/* ====== CONTENEDOR DE CREADORES ====== */
.contenedor-creadores {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    padding: 40px;
}

/* TARJETAS */
.tarjeta-creador {
    background-color: #141414;
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #222;
}

/* EFECTO HOVER */
.tarjeta-creador:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(229, 9, 20, 0.6);
}

/* IMAGEN */
.foto-perfil {
    width: 100%;
    object-fit: cover;
    object-position: 50% 20%;  /* ajuste más preciso */
    border-bottom: 2px solid #E50914;
    height: 380px
}

/* INFO */
.creador-info {
    padding: 20px;
}

.creador-info h3 {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 10px;
}

.rol {
    color: #E50914;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
}

/* ====== RESPONSIVE ====== */
@media (max-width: 600px) {
    .contenedor-creadores {
        padding: 20px;
    }

    .foto-perfil {
        height: 200px;
    }
}